<nav class="navbar navbar-inverse navbar-fixed-top nav-total">
  <div class="container">
    <div class="navbar-header nav-head">
      <a><%= link_to "Codaisseuroshop", root_path, class: "navbar-brand" %></a>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</nav>
