<h1>List of products</h1>
<% @products.each do |product| %>
  <div class="row-offcanvas">
    <div class="col-xs-3">
      <div class="row">
        <div class="col-xs-6 col-lg-12">
          <h2><%= product.name %></h2>
          <p>&euro; <%= product.price %></p>
          <p><%= product.stock %> items left in stock.</p>
          <p>
            <a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a>
            <%= link_to "Product page", product_path(product), class:"btn btn-default" %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
